@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	:root {
		font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	body {
		margin: 0;
		overflow: hidden;
	}
}
